@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
  font-family: 'Rubik', serif;
}

option {
  color: black;
}

.width-100 {
  width: 100%;
}

.without-line-camp {
  --chakra-line-clamp: 0 !important;
}